.artist-background {
    display: flex;
    height: auto;
    justify-content: center;
}

.artist-background__wrap {
    display: flex;
    margin-top: -170px;
}

.artist-background__block-frames {
    display: flex;
    width: 1110px;
    height: 300px;
}

.artist-background__frame {
    display: flex;
    width: 350px;
    height: 300px;
    margin-right: 30px;
    position: relative;
}

.artist-background__frame:last-child {
    margin-right: 0;
}

.artist-pic-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.artist-background-describe {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 350px;
    height: 90px;
    background: #7a66cc;
    opacity: 0.7;
    border-radius: 20px 0;
    display: flex;
    align-items: center;
}

.describe-1,
.describe-2,
.describe-3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-left: 20px;
    position: absolute;
    bottom: 15px;
}

.describe-1 {
    width: auto;
}

.describe-2 {
    width: 180px;
}

.describe-3 {
    width: 200px;
}