.bright-lights-slider__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    flex-direction: column;
    height: 473px;
    overflow: hidden;
}

.bright-lights-slider {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
}

.bright-lights-slider__slider {
    display: flex;
    width: 350px;
    height: 473px;
    background: #2f2b2b;
    border-radius: 30px 0;
    margin-right: 30px;
    flex-direction: column;
    position: relative;
}

.bright-lights-slider__slider:last-child {
    margin-right: 0;
}

.bright-lights-slider__slider_margin-right {
    margin-right: 0;
}

.slider-pic {
    height: 280px;
    width: 350px;
}

.bright-lights-slider__location {
    width: 120px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    opacity: 0.5;
    margin-top: 30px;
    margin-left: 35px;
}

.bright-lights-slider__name {
    width: 260px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-top: 20px;
    margin-left: 35px;
}

data {
    width: 94px;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    margin-top: 46px;
    margin-left: 40px;
}

.bright-lights-slider__tickets {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background: #7a66cc;
    border-radius: 30px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider__control {
    display: flex;
    position: absolute;
    width: 1270px;
    justify-content: space-between;
}


.bright-lights-slider__left-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider__right-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 40px;
    position: absolute;
    border-radius: 10px 0px;
}

/* Slider */
.slider {
    width: 100%;
    height: 100%;
    background: #1c1b21;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* each slide backgound color */
.slide1 {
    left: 0;
}

.slide2 {
    left: 100%
}

.slide3 {
    left: 200%
}

.slide4 {
    left: 300%;
}

.article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slider inner slide effect */
.slider h2 {
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 120%;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}

.slider .button {
    color: #FFF;
    padding: 5px 30px;
    background: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    opacity: 0;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
}

.slider h2,
.slider .button {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s;
    /* Safari */
    transition-delay: 1s;
}

.control label:hover {
    opacity: 0.5;
}

.slide-radio2:checked~.slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio3:checked~.slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio4:checked~.slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


.bright-lights-slider__slider-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
}

article:nth-child(1) {
    margin-left: 0;
}

article:nth-child(2) {
    margin-left: 100px;
}

article:nth-child(3) {
    margin-left: 100px;
}


.bright-lights-slider__slider {
    display: flex;
    width: 350px;
    height: 473px;
    background: #2f2b2b;
    border-radius: 30px 0;
    margin-right: 30px;
    flex-direction: column;
    position: relative;
}

.slider-pic {
    height: 280px;
    width: 350px;
}

.bright-lights-slider__location {
    width: 120px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    opacity: 0.5;
    margin-top: 30px;
    margin-left: 35px;
}

.bright-lights-slider__name {
    width: 260px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-top: 20px;
    margin-left: 35px;
}

data {
    width: 94px;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    margin-top: 46px;
    margin-left: 40px;
}

.bright-lights-slider__tickets {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background: #7a66cc;
    border-radius: 30px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider__control {
    display: flex;
    position: absolute;
    width: 1270px;
    justify-content: space-between;
}


.bright-lights-slider__left-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider__right-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 40px;
    position: absolute;
    border-radius: 10px 0px;
}