.bright-lights-slider__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    flex-direction: column;
}

.bright-lights-slider__slider-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
}

article:nth-child(1) {
    margin-left: 0;
}

article:nth-child(2) {
    margin-left: 100px;
}

article:nth-child(3) {
    margin-left: 100px;
}

#overflow {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    width: 1270px;
    justify-content: center;
    align-items: center;
}

#switch1:checked~#controls label:nth-child(5),
#switch2:checked~#controls label:nth-child(1),
#switch3:checked~#controls label:nth-child(2),
#switch4:checked~#controls label:nth-child(3) {
    background: url("../../../app/img/bright-lights-slider/arrow--left.svg");
    float: left;
    margin: 0 0 0 -84px;
    display: block;

}

#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch5:checked~#controls label:nth-child(1) {
    background: url("../../../app/img/bright-lights-slider/arrow--right.svg");
    float: right;
    margin: 0 0 0 -84px;
    display: block;

}


#switch1:checked~#slides .image {
    margin-left: 0;
}

#switch2:checked~#slides .image {
    margin-left: -100%;
}

#switch3:checked~#slides .image {
    margin-left: -200%;
}

#switch4:checked~#slides .image {
    margin-left: -300%;
}

#switch5:checked~#slides .image {
    margin-left: -400%;
}


.bright-lights-slider__slider {
    display: flex;
    width: 350px;
    height: 473px;
    background: #2f2b2b;
    border-radius: 30px 0;
    margin-right: 30px;
    flex-direction: column;
    position: relative;
}

.bright-lights-slider__slider:last-child {
    margin-right: 0;
}

.bright-lights-slider__slider_margin-right {
    margin-right: 0;
}


@keyframes slider {
    20% {
        position: absolute;
        left: 0;
    }

    40% {
        position: absolute;
        left: -100%;
    }

    60% {
        position: absolute;
        left: -200%;
    }

    80% {
        position: absolute;
        left: -300%;
    }

    100% {
        position: absolute;
        left: 0;
    }

}

.slider-pic {
    height: 280px;
    width: 350px;
}

.bright-lights-slider__location {
    width: 120px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    opacity: 0.5;
    margin-top: 30px;
    margin-left: 35px;
}

.bright-lights-slider__name {
    width: 260px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-top: 20px;
    margin-left: 35px;
}

data {
    width: 94px;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    margin-top: 46px;
    margin-left: 40px;
}

.bright-lights-slider__tickets {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background: #7a66cc;
    border-radius: 30px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider__control {
    display: flex;
    position: absolute;
    width: 1270px;
    justify-content: space-between;
}


.bright-lights-slider__left-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider__right-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 40px;
    position: absolute;
    border-radius: 10px 0px;
}

.image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Slider wrapper*/
.css-slider-wrapper {
    display: flex;
    background: #FFF;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Slider */
.slider {
    width: 100%;
    height: 100%;
    background: #1c1b21;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* each slide backgound color */
.slide1 {
    left: 0;
}

.slide2 {
    left: 100%
}

.slide3 {
    left: 200%
}

.slide4 {
    left: 300%;
}

.slider>div {
    text-align: center;
}

/* Slider inner slide effect */
.slider h2 {
    color: #FFF;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 120%;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
}

.slider .button {
    color: #FFF;
    padding: 5px 30px;
    background: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    opacity: 0;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
}

.slider h2,
.slider .button {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s;
    /* Safari */
    transition-delay: 1s;
}

/* Next and Preive arrow */
.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 55;
}

.control label {
    z-index: 0;
    display: none;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    color: #FFF;
    cursor: pointer;
    opacity: 0.2;
}

.control label:hover {
    opacity: 0.5;
}

.next {
    right: 1%;
}

.previous {
    left: 1%;
}

/* Slider Pagger */
.slider-pagination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1000;
}

.slider-pagination label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 2px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

/* Slider Pagger arrow event */
.slide-radio1:checked~.next .numb2,
.slide-radio2:checked~.next .numb3,
.slide-radio3:checked~.next .numb4,
.slide-radio2:checked~.previous .numb1,
.slide-radio3:checked~.previous .numb2,
.slide-radio4:checked~.previous .numb3 {
    display: block;
    z-index: 1
}

/* Slider Pagger event */
.slide-radio1:checked~.slider-pagination .page1,
.slide-radio2:checked~.slider-pagination .page2,
.slide-radio3:checked~.slider-pagination .page3,
.slide-radio4:checked~.slider-pagination .page4 {
    background: rgba(255, 255, 255, 1)
}

/* Slider slide effect */
.slide-radio1:checked~.slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio2:checked~.slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio3:checked~.slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio4:checked~.slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.slide-radio1:checked~.slide1 h2,
.slide-radio2:checked~.slide2 h2,
.slide-radio3:checked~.slide3 h2,
.slide-radio4:checked~.slide4 h2,
.slide-radio1:checked~.slide1 .button,
.slide-radio2:checked~.slide2 .button,
.slide-radio3:checked~.slide3 .button,
.slide-radio4:checked~.slide4 .button {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

@media only screen and (max-width: 767px) {
    .slider h2 {
        font-size: 20px;
    }

    .slider>div {
        padding: 0 2%
    }

    .control label {
        font-size: 35px;
    }

    .slider .button {
        padding: 0 15px;
    }
}

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


.bright-lights-slider__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    flex-direction: column;
}

.bright-lights-slider__slider-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
}

article:nth-child(1) {
    margin-left: 0;
}

article:nth-child(2) {
    margin-left: 100px;
}

article:nth-child(3) {
    margin-left: 100px;
}

#overflow {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    width: 1270px;
    justify-content: center;
    align-items: center;
}

#switch1:checked~#controls label:nth-child(5),
#switch2:checked~#controls label:nth-child(1),
#switch3:checked~#controls label:nth-child(2),
#switch4:checked~#controls label:nth-child(3) {
    background: url("../../../app/img/bright-lights-slider/arrow--left.svg");
    float: left;
    margin: 0 0 0 -84px;
    display: block;

}

#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch5:checked~#controls label:nth-child(1) {
    background: url("../../../app/img/bright-lights-slider/arrow--right.svg");
    float: right;
    margin: 0 0 0 -84px;
    display: block;

}

.bright-lights-slider__slider {
    display: flex;
    width: 350px;
    height: 473px;
    background: #2f2b2b;
    border-radius: 30px 0;
    margin-right: 30px;
    flex-direction: column;
    position: relative;
}

.slider-pic {
    height: 280px;
    width: 350px;
}

.bright-lights-slider__location {
    width: 120px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    opacity: 0.5;
    margin-top: 30px;
    margin-left: 35px;
}

.bright-lights-slider__name {
    width: 260px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-top: 20px;
    margin-left: 35px;
}

data {
    width: 94px;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
    margin-top: 46px;
    margin-left: 40px;
}

.bright-lights-slider__tickets {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background: #7a66cc;
    border-radius: 30px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider__control {
    display: flex;
    position: absolute;
    width: 1270px;
    justify-content: space-between;
}


.bright-lights-slider__left-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bright-lights-slider__right-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 40px;
    position: absolute;
    border-radius: 10px 0px;
}