.bright-lights-characteristics {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 236px;
}

.bright-lights-characteristics__wrap {
    display: flex;
    box-sizing: border-box;
    width: 1110px;
    height: 483px;
    border-radius: 30px 0;
    position: relative;
    align-items: center;
}

.bright-lights-characteristics__content {
    display: flex;
    width: 1110px;
    height: 313px;
    align-items: center;
    background: #1C1B21;
    border: 1px solid #FFFFFF;
    border-radius: 30px 0px;
}

.bright-lights-characteristics__block {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 520px;
    margin-left: 80px;
    margin-right: 60px;
}

.bright-lights-characteristics__text {
    width: 520px;
    height: 136px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    display: flex;
}

.bright-lights-characteristics__line {
    width: 520px;
    height: 0;
    opacity: 0.6;
    border: 1px solid #fff;
    margin-top: 25px;
}

.bright-lights-characteristics__link {
    width: 126px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #7a66cc;
    margin-top: 25px;
}

.bright-lights-characteristics__photo {
    display: flex;
    align-items: center;
    width: 370px;
    height: 483px;
    border-radius: 30px 0;
}