.bright-lights-biography {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 179px;
}

.bright-lights-biography__wrap {
    display: flex;
    width: 1110px;
    height: 594px;
}

.bright-lights-biography__content {
    display: flex;
    flex-direction: column;
}


.bright-lights-biography__header-block {
    display: flex;
}


.bright-lights-biography__header {
    width: 310px;
    height: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    margin-left: 30px;
}

.bright-lights-biography__biography-artist {
    width: 540px;
    height: 312px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    opacity: 0.7;
    margin-top: 60px;
}

.bright-lights-biography__block-4-describes {
    display: flex;
    width: 533px;
    height: auto;
    flex-wrap: wrap;
}

.bright-lights-biography__describe-block {
    display: flex;
}

.bright-lights-biography__describe-block:nth-child(3),
.bright-lights-biography__describe-block:nth-child(4) {
    display: flex;
    margin-top: 32px;
}

.bright-lights-biography__describe-block:nth-child(1),
.bright-lights-biography__describe-block:nth-child(3) {
    display: flex;
    margin-right: 40px;
}

.bright-lights-biography__figure {
    display: flex;
    width: 30px;
    height: 30px;
    background: #7a66cc;
    border-radius: 10px 0;
    margin-right: 20px;
}

.bright-lights-biography__item {
    width: 195px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.bright-lights-biography__block-avatars {
    display: flex;
    position: relative;
    width: 445px;
    height: 466px;
    margin-left: 125px;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}



.bright-lights-biography__avatar {
    position: absolute;
    display: flex;
    width: 350px;
    height: 400px;
    left: 0;
    top: 0;
    border-radius: 30px 0px;
}

.bright-lights-biography__avatar-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.bright-lights-biography__avatar-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 400px;
}


.active--change {
    z-index: 7;
    opacity: 1;
    transition: 1s;
}