.events {
    display: flex;
    justify-content: center;

}

.events__wrap {
    display: flex;
    width: 1110px;
    height: 500px;
    margin-top: 180px;
    justify-content: center;
    align-items: center;
}

.events__picture {
    width: 255px;
    height: 235px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.events__picture-middle-block {
    width: 540px;
    height: 500px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}

.events__picture_margin--modify {
    margin-left: 30px;
}

.events__picture:last-child {
    margin-right: 0;
    height: 235px;
    width: 540px;
}

.events__picture-right-block {
    margin-left: 30px;
    width: 255px;
    height: 235px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline__width--modify {
    width: 200px;
}

.pic-1 {
    height: 500px;
    width: 255px;

}

.pic-2 {
    width: 255px;
    height: 235px;
}

.pic-3 {
    width: 255px;
    height: 235px;
}

.pic-4 {
    margin-top: 30px;
    width: 540px;
    height: 235px;
}

.events__picture:hover,
.events__picture-right-block:hover {
    transition: 1s;
    opacity: 0.2;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.headline {
    position: absolute;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #7A66CC;
}

.events__picture-3 {
    width: 255px;
    height: 235px;
    border-radius: 30px 0px;
}