.last-tracks {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 180px;
}

.last-tracks__wrap {
    display: flex;
    width: 1110px;
    height: 584px;
}

.last-tracks__image-block {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 510px;
    height: 510px;
    margin-right: 60px;

}


@keyframes last-trackAnimationFrame {
    from {
        opacity: 0
    }

    10% {
        opacity: .2;
    }

    20% {
        opacity: .4;
    }

    40% {
        opacity: .6;
    }

    50% {
        opacity: .8;
    }


    70% {
        opacity: .8;
    }

    80% {
        opacity: .6;
    }

    90% {
        opacity: .4;
    }

    100% {
        opacity: 0;
    }
}


.last-tracks__tracks-block {
    display: flex;
    flex-direction: column;
}

.last-tracks__last-tracks {
    display: flex;
}

.last-tracks__circle-1 {
    position: absolute;
    display: flex;
    animation: last-trackAnimationFrame 1s infinite;
    animation-delay: 1s;
    -webkit-animation: last-trackAnimationFrame 1s infinite;
}

.last-tracks__circle-2 {
    position: absolute;
    display: flex;
    animation: last-trackAnimationFrame 2s infinite;
    animation-delay: 2s;
    -webkit-animation: last-trackAnimationFrame 2s infinite;
}

.last-tracks__circle-3 {
    position: absolute;
    display: flex;

}


.last-tracks__name {
    width: 270px;
    height: 72px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    margin-left: 30px;
}

.last-tracks__player {
    display: flex;
    width: 540px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}

.play-track {
    margin-left: 45px;
    width: 317px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-playing {
    width: 110px;
    height: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #fff;
    margin-left: 47px;
}

.time {
    height: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background-color: #7a66cc;
    width: 0;
}

#controls {
    display: flex;
    width: 540px;
    height: 27px;
    align-items: center;
    justify-content: center;
}

.button-play {
    display: flex;
}

.play-icon {
    width: 25px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-track {
    border: 2px solid #fff;
    width: 317px;
    height: 0;
    margin-left: 45px;
}

.last-track__number {
    width: 15px;
    height: 21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    opacity: 0.5;
    margin-right: 17px;
}

.last-track__name-track {
    width: 505px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.last-tracks__block-track {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 20px;
}

.last-tracks__block-track:last-child {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 40px;
}

.last-tracks__playlist {
    margin-top: 50px;
}

.last-tracks__text {
    width: 129px;
    height: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    margin-right: 40px;
}

.last-tracks__social-block {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.social-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-block:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.social-name {
    width: 50px;
    height: 21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    margin-left: 10px;
}

.button-pause {
    width: 25px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}