.artist-background
  .artist-background__wrap
    .artist-background__block-frames
      .artist-background__frame
        img.artist-pic-1(src="../../../app/img/artist-background/artist-pic-1.jpg" alt="")
        .artist-background-describe
        p.describe-1 Working on my upcoming full-lenth album that`s releasing later this year.
      .artist-background__frame
        img.artist-pic-1(src="../../../app/img/artist-background/artist-pic-2.jpg" alt="")
        .artist-background-describe
        p.describe-2 Halloween vibes. Listen my new track!
      .artist-background__frame
        img.artist-pic-1(src="../../../app/img/artist-background/artist-pic-3.jpg" alt="")
        .artist-background-describe
        p.describe-3  WarForLove is OUT NOW!! Stream it here!