.bright-lights-slider
	.bright-lights-slider__wrap
		.bright-lights-slider__slider
			img.slider-pic(src="../../../app/img/bright-lights-slider/picture.png" alt="")
			h3.bright-lights-slider__location Chandler, AZ
			h4.bright-lights-slider__name The Park at Wild Horse Pass
			data Apr 02 2021
			a.bright-lights-slider__tickets tickets
		.bright-lights-slider__slider
			img.slider-pic(src="../../../app/img/bright-lights-slider/picture-2.png" alt="")
			h3.bright-lights-slider__location Ibiza, IBZ
			h4.bright-lights-slider__name Swag Ibiza Club
			data Jul 08 2021
			a.bright-lights-slider__tickets tickets
		.bright-lights-slider__slider
			img.slider-pic(src="../../../app/img/bright-lights-slider/picture-3.png" alt="")
			h3.bright-lights-slider__location Ibiza, IBZ
			h4.bright-lights-slider__name Swag Ibiza Club
			data Jul 10 2021
			a.bright-lights-slider__tickets tickets