.bright-lights-slider
  .bright-lights-slider__wrap
    .bright-lights-slider__slider-block#slides
      #overflow       
        .css-slider-wrapper
          input#slider_1.slide-radio1(type='radio' name='slider' checked='')
          input#slider_2.slide-radio2(type='radio' name='slider')
          input#slider_3.slide-radio3(type='radio' name='slider')
          input#slider_4.slide-radio4(type='radio' name='slider')
          .slider-pagination
            label.page1(for='slider_1')
            label.page2(for='slider_2')
            label.page3(for='slider_3')
            label.page4(for='slider_4')
          .next.control
            label.numb1(for='slider_1')
              i.fa.fa-arrow-circle-right
            label.numb2(for='slider_2')
              i.fa.fa-arrow-circle-right
            label.numb3(for='slider_3')
              i.fa.fa-arrow-circle-right
            label.numb4(for='slider_4')
              i.fa.fa-arrow-circle-right
          .previous.control
            label.numb4(for='slider_4')
              i.fa.fa-arrow-circle-left
            label.numb3(for='slider_3')
              i.fa.fa-arrow-circle-left
            label.numb2(for='slider_2')
              i.fa.fa-arrow-circle-left
            label.numb1(for='slider_1')
              i.fa.fa-arrow-circle-left
          .slider.slide1
            article
              .bright-lights-slider__slider
                img.slider-pic(src='app/img/bright-lights-slider/picture.png' alt='')
                h3.bright-lights-slider__location Chandler, AZ
                h4.bright-lights-slider__name The Park at Wild Horse Pass
                data Apr 02 2021
                a.bright-lights-slider__tickets tickets
              .bright-lights-slider__slider
                img.slider-pic(src='app/img/bright-lights-slider/picture-2.png' alt='')
                h3.bright-lights-slider__location Ibiza, IBZ
                h4.bright-lights-slider__name Swag Ibiza Club
                data Jul 08 2021
                a.bright-lights-slider__tickets tickets
              .bright-lights-slider__slider.bright-lights-slider__slider_margin-right
                img.slider-pic(src='app/img/bright-lights-slider/picture-3.png' alt='')
                h3.bright-lights-slider__location Ibiza, IBZ
                h4.bright-lights-slider__name Swag Ibiza Club
                data Jul 10 2021
                a.bright-lights-slider__tickets tickets
          .slider.slide2
            article
              .bright-lights-slider__slider
                img.slider-pic(src='app/img/bright-lights-slider/picture.png' alt='')
                h3.bright-lights-slider__location Chandler, AZ
                h4.bright-lights-slider__name The Park at Wild Horse Pass
                data Apr 02 2021
                a.bright-lights-slider__tickets tickets
              .bright-lights-slider__slider
                img.slider-pic(src='app/img/bright-lights-slider/picture-2.png' alt='')
                h3.bright-lights-slider__location Ibiza, IBZ
                h4.bright-lights-slider__name Swag Ibiza Club
                data Jul 08 2021
                a.bright-lights-slider__tickets tickets
              .bright-lights-slider__slider.bright-lights-slider__slider_margin-right
                img.slider-pic(src='app/img/bright-lights-slider/picture-3.png' alt='')
                h3.bright-lights-slider__location Ibiza, IBZ
                h4.bright-lights-slider__name Swag Ibiza Club
                data Jul 10 2021
                a.bright-lights-slider__tickets tickets
          .slider.slide3
            article
              .bright-lights-slider__slider
                img.slider-pic(src='app/img/bright-lights-slider/picture.png' alt='')
                h3.bright-lights-slider__location Chandler, AZ
                h4.bright-lights-slider__name The Park at Wild Horse Pass
                data Apr 02 2021
                a.bright-lights-slider__tickets tickets
              .bright-lights-slider__slider
                img.slider-pic(src='app/img/bright-lights-slider/picture-2.png' alt='')
                h3.bright-lights-slider__location Ibiza, IBZ
                h4.bright-lights-slider__name Swag Ibiza Club
                data Jul 08 2021
                a.bright-lights-slider__tickets tickets
              .bright-lights-slider__slider.bright-lights-slider__slider_margin-right
                img.slider-pic(src='app/img/bright-lights-slider/picture-3.png' alt='')
                h3.bright-lights-slider__location Ibiza, IBZ
                h4.bright-lights-slider__name Swag Ibiza Club
                data Jul 10 2021
                a.bright-lights-slider__tickets tickets
          .slider.slide4
            article
              .bright-lights-slider__slider
                img.slider-pic(src='app/img/bright-lights-slider/picture.png' alt='')
                h3.bright-lights-slider__location Chandler, AZ
                h4.bright-lights-slider__name The Park at Wild Horse Pass
                data Apr 02 2021
                a.bright-lights-slider__tickets tickets
              .bright-lights-slider__slider
                img.slider-pic(src='app/img/bright-lights-slider/picture-2.png' alt='')
                h3.bright-lights-slider__location Ibiza, IBZ
                h4.bright-lights-slider__name Swag Ibiza Club
                data Jul 08 2021
                a.bright-lights-slider__tickets tickets
              .bright-lights-slider__slider.bright-lights-slider__slider_margin-right
                img.slider-pic(src='app/img/bright-lights-slider/picture-3.png' alt='')
                h3.bright-lights-slider__location Ibiza, IBZ
                h4.bright-lights-slider__name Swag Ibiza Club
                data Jul 10 2021
                a.bright-lights-slider__tickets tickets


