.bright-lights-characteristics
  .bright-lights-characteristics__wrap
    .bright-lights-characteristics__content
      .bright-lights-characteristics__block
        .bright-lights-characteristics__text 
          | “In an age where mainstream music is designed
          | to be as easily consumed as possible, listening
          |  to Bright Lights is refreshing, to say the 
          | least. Her sound is perfect for radio but
          | complex enough to separate her from other 
          | pop newcomers.”
        .bright-lights-characteristics__line
        a.bright-lights-characteristics__link  PopULove.net

      img.bright-lights-characteristics__photo(src="../../../app/img/.bright-lights-characteristics/photo.jpg")