.contacts-artist
  .contacts-artist__wrap
    .contacts-artist__block
      img.contacts-artist__img(src="app/img/header/nav-logo.svg")
      img.contacts-artist__text(src="app/img/header/nav-logo-text.png")
    .contacts-artist__management-contacts-block
      .contacts-artist__management-contacts
        p.artist-management-name Artist Management
        p.artist-email-headline EMAIL
      .contacts-artist__management-contacts
        p.artist-name Jake Henny
        p.artist-email jake@brightlightsofficial.com
    .contacts-artist__social-block
      a.contacts-artist__social-block_item(href="https://artists.apple.com")
        img.contacts-artist__social-circle1(src="app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="app/img/contacts-artist/social-block/apple-icon.png")

      a.contacts-artist__social-block_item(href="https://artists.spotify.com/home")
        img.contacts-artist__social-circle1(src="app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="app/img/contacts-artist/social-block/spotify-icon.svg")

      a.contacts-artist__social-block_item(href="http://instagram.com")
        img.contacts-artist__social-circle1(src="app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="app/img/contacts-artist/social-block/instagram-icon.svg")

      a.contacts-artist__social-block_item(href="https://www.youtube.com")
        img.contacts-artist__social-circle1(src="app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="app/img/contacts-artist/social-block/youtube-icon.svg")
        a(href="https://www.youtube.com")
      a.contacts-artist__social-block_item(href="https://twitter.com")
        img.contacts-artist__social-circle1(src="app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="app/img/contacts-artist/social-block/twitter-icon.svg")

      a.contacts-artist__social-block_item(href="https://facebook.com")
        img.contacts-artist__social-circle1(src="app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="app/img/contacts-artist/social-block/facebook-icon.svg")

    p.copyrights ©  2020 DJ bright lights.