.contacts-artist
  .contacts-artist__wrap
    .contacts-artist__block
      img.contacts-artist__img(src="../../../app/img/header/nav-logo.svg")
      img.contacts-artist__text(src="../../../app/img/header/nav-logo-text.png")
    .contacts-artist__management-contacts-block
      .contacts-artist__management-contacts
        p.artist-management-name Artist Management
        p.artist-email-headline EMAIL
      .contacts-artist__management-contacts
        p.artist-name Jake Henny
        p.artist-email jake@brightlightsofficial.com
    ul.contacts-artist__social-block
      li.contacts-artist__social-block_item
        img.contacts-artist__social-circle1(src="../../../app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="../../../app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="../../../app/img/contacts-artist/social-block/apple-icon.png")
      li.contacts-artist__social-block_item
        img.contacts-artist__social-circle1(src="../../../app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="../../../app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="../../../app/img/contacts-artist/social-block/spotify-icon.svg")
      li.contacts-artist__social-block_item
        img.contacts-artist__social-circle1(src="../../../app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="../../../app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="../../../app/img/contacts-artist/social-block/instagram-icon.svg")
      li.contacts-artist__social-block_item
        img.contacts-artist__social-circle1(src="../../../app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="../../../app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="../../../app/img/contacts-artist/social-block/youtube-icon.svg")
      li.contacts-artist__social-block_item
        img.contacts-artist__social-circle1(src="../../../app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="../../../app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="../../../app/img/contacts-artist/social-block/twitter-icon.svg")
      li.contacts-artist__social-block_item
        img.contacts-artist__social-circle1(src="../../../app/img/contacts-artist/social-block/grey-circle.png")
        img.contacts-artist__social-circle2(src="../../../app/img/contacts-artist/social-block/crimson-circle.png")
        img.contacts-artist__social-icon(src="../../../app/img/contacts-artist/social-block/facebook-icon.svg")

    p.copyrights ©  2020 DJ bright lights.