.events
  .events__wrap
    .events__picture
      img.pic-1(src="../../../app/img/events/pic1.jpg" alt="")
      p.headline.headline__width--modify EDC Las Vegas Mainstage

    .events__picture-middle-block
      .events__picture
        img.pic-2(src="../../../app/img/events/pic2.jpg" alt="")
        p.headline EDC Las Vegas Mainstage
      .events__picture.events__picture_margin--modify
        img.pic-3(src="../../../app/img/events/pic3.jpg" alt="")
        p.headline EDC Las Vegas Mainstage
      .events__picture  
        img.pic-4(src="../../../app/img/events/pic5.jpg" alt="")
        p.headline EDC Las Vegas Mainstage

    .events__picture-right-block
      img.pic-5(src="../../../app/img/events/pic4.jpg" alt="")
      p.headline.headline__width--modify EDC Las Vegas Mainstage

