header
  .header__wrap 
    nav
      .nav__logo
        img.nav__logo_pic(src="../../../app/img/header/nav-logo.svg") 
        img.nav__logo_text(src="../../../app/img/header/nav-logo-text.png") 
      ul.nav__items 
        li.nav__item
          a.nav__item_link(href="#") About 
        li.nav__item
          a.nav__item_link(href="#") News 
        li.nav__item
          a.nav__item_link(href="#") Music 
        li.nav__item
          a.nav__item_link(href="#") Media 
        li.nav__item
          a.nav__item_link(href="#") Tours 
        li.nav__item
          a.nav__item_link(href="#") Contacts
    .header__main-block
      p.header__header New Single
      p.header__name-sing War For Love
      .audio-player
        audio#audio-header(src="../../../app/music/Bright_Lights_Kaleena_Zanders_Kandy_-_War_For_Love_70971022.mp3")
        #controls-header
          .button-play-header
            img(src="../../../app/img/header/player/play_icon.svg" alt="")       
          .header-audio-track
          .time-header 

