.last-tracks 
  .last-tracks__wrap
    .last-tracks__image-block
      img.last-tracks__circle-1(src="./app/img/last-tracks/Ellipse 3.png")
      img.last-tracks__circle-2(src="./app/img/last-tracks/Group 10.png")
      img.last-tracks__circle-3(src="./app/img/last-tracks/Ellipse 4-photo.png")


    .last-tracks__tracks-block
      .last-tracks__last-tracks
        img.last-tracks-icon(src="./app/img/last-tracks/icon.png" alt="")
        p.last-tracks__name Last tracks

      .last-tracks__player        
        #controls
          .button-play
            img(src="./app/img/last-tracks/play-icon.svg" alt="")          
          .audio-track
            .time   
          .time-playing 
          .full-time-playing   

      .last-tracks__playlist
        a.last-tracks__block-track
          .last-track__number  01
          .last-track__name-track.name-track-1 3LAU, Bright Lights — How You Love Me
          audio#audio.track-1(src="app/music/3LAU_Bright_Lights_-_How_You_Love_Me_48268182.mp3")
        a.last-tracks__block-track
          .last-track__number  02
          .last-track__name-track.name-track-2  Bright Lights, Kaleena Zanders, Kandy — War For Love
          audio#audio.track-2(src="app/music/Bright_Lights_Kaleena_Zanders_Kandy_-_War_For_Love_70971022.mp3")
        a.last-tracks__block-track
          .last-track__number   03
          .last-track__name-track.name-track-3 Pink Is Punk, Benny Benassi, Bright Lights — Ghost
          audio#audio.track-3(src="app/music/Dyro_Hardwell_Bright_Lights_-_Never_Say_Goodbye_55725060.mp3")
        a.last-tracks__block-track
          .last-track__number  04
          .last-track__name-track.name-track-4 Hardwell, Dyro, Bright Lights — Never Say Goodbye
          audio#audio.track-4(src="app/music/Zedd_Bright_Lights_-_Follow_You_Down_48263215.mp3")
        a.last-tracks__block-track
          .last-track__number  05
          .last-track__name-track.name-track-5 Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now
          audio#audio.track-5(src="app/music/Dyro_Hardwell_Bright_Lights_-_Never_Say_Goodbye_55725060.mp3")
        a.last-tracks__block-track
          .last-track__number  06
          .last-track__name-track.name-track-6 Zedd, Bright Lights — Follow You Down
          audio#audio.track-6(src="app/music/Zedd_Bright_Lights_-_Follow_You_Down_48263215.mp3")
      .last-tracks__social-block
        p.last-tracks__text Follow me:
        .social-block
          img.social-icon(src="./app/img/last-tracks/spotify-icon.png" alt="")
          .social-name Spotify
        .social-block
          img.social-icon(src="./app/img/last-tracks/i-tines-icon.svg" alt="")
          .social-name iTunes





