.last-tracks 
  .last-tracks__wrap
    .last-tracks__image-block
      img.last-tracks__circle(src="../../../app/img/last-tracks/Ellipse 3.png")
      img.last-tracks__circle(src="../../../app/img/last-tracks/Group 10.png")
      img.last-tracks__circle(src="../../../app/img/last-tracks/Ellipse 4-photo.png")


    .last-tracks__tracks-block
      .last-tracks__last-tracks
        img.last-tracks-icon(src="../../../app/img/last-tracks/icon.png")
        p.last-tracks__name Last tracks

      .last-tracks__player
        img.play-icon(src="../../../app/img/last-tracks/play-icon.svg" alt="")
        img.play-track(src="../../../app/img/last-tracks/player_track.png" alt="")
        .time-playing 00:47-03:30

      .last-tracks__playlist
        .last-tracks__block-track
          .last-track__number  01
          .last-track__name-track 3LAU, Bright Lights — How You Love Me
        .last-tracks__block-track
          .last-track__number  02
          .last-track__name-track Bright Lights, Kaleena Zanders, Kandy — War For Love
        .last-tracks__block-track
          .last-track__number  03
          .last-track__name-track Pink Is Punk, Benny Benassi, Bright Lights — Ghost
        .last-tracks__block-track
          .last-track__number  04
          .last-track__name-track Hardwell, Dyro, Bright Lights — Never Say Goodbye
        .last-tracks__block-track
          .last-track__number  05
          .last-track__name-track Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now
        .last-tracks__block-track
          .last-track__number  06
          .last-track__name-track Zedd, Bright Lights — Follow You Down

      .last-tracks__social-block
        p.last-tracks__text Follow me:
        .social-block
          img.social-icon(src="../../../app/img/last-tracks/spotify-icon.png" alt="")
          .social-name Spotify
        .social-block
          img.social-icon(src="../../../app/img/last-tracks/i-tines-icon.svg" alt="")
          .social-name iTunes





