doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Bright Light
  link(rel="stylesheet" href="app/css/styles.css")
  link(rel="stylesheet" href="app/slider/slider.css")
body
  include includes/header.pug
  include includes/artist-background.pug
  include includes/bright-lights-biography.pug
  include includes/bright-lights-characteristics.pug
  include includes/last-tracks.pug
  include includes/events.pug
  include includes/bright-lights-slider.pug
  include includes/contacts-artist.pug
  script(src="app/js/avatars.js")
  script(src="app/js/music-player.js")
  script(src="app/js/header-music-player.js")
